.thumbnail {
  &__thumbnail-container {
    position: relative;
  }

  &__thumbnail {
    width: 100%;
  }

  &__play-icon-container {
    width: 13rem;
    height: 13rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(#000000, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgba(#000000, 0.7);
    }
  }

  &__play-icon {
    width: 70%;
    height: 70%;
  }
}
