.video-player {
  background-color: rgba(#000, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  &__close-icon {
    position: absolute;
    top: 5rem;
    right: 8rem;
    width: 4rem;

    @include respond(phone-land) {
      width: 3rem;
      right: 5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  &__iframe {
    width: 60%;
    height: 60%;

    @include respond(laptop) {
      width: 70%;
    }
    @include respond(phone-land) {
      height: 90%;
    }
    @include respond(phone-port) {
      width: 100%;
      height: 30vh;
    }
  }
}
