@mixin container($margin-top, $margin-bottom) {
  width: $section-width;
  margin: #{$margin-top} auto #{$margin-bottom};

  @include respond(laptop) {
    width: 80%;
  }
  @include respond(tab-land) {
    width: 80%;
  }
}
