.footer {
  background-color: $color-secondary;
  padding: 4rem 0;

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: $section-width;

    @include respond(phone-port) {
      flex-direction: column;
    }
    @include respond(iphone-5) {
      width: 90%;
    }
  }

  &__logo {
    width: 25rem;
    @include respond(big-tv) {
      width: 20rem;
    }
  }

  &__logo-container {
    margin-right: 5rem;

    @include respond(phone-port) {
      margin-right: 0;
    }
  }

  &__left-side {
    display: flex;

    @include respond(tab-port) {
      align-items: center;
    }
    @include respond(phone-port) {
      flex-direction: column;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    @include respond(tab-port) {
      flex-direction: column;
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
    }
    @include respond(phone-port) {
      align-items: center;
      text-align: center;
    }
  }

  &__item {
    font-size: 2rem;
  }

  &__image {
    @include respond(big-tv) {
      width: 20rem;
    }
    @include respond(short-laptop) {
      width: 20rem;
    }
  }

  &__copy {
    color: $white;
    margin-left: 4rem;
    text-align: center;
    @include respond(laptop) {
      margin-top: 4rem;
    }
    @include respond(phone-port) {
      margin-left: 0;
    }
  }
}
