.footer {
  background-color: $color-secondary;
  padding: 4rem 0;

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    @include respond(big-tv) {
      width: 20rem;
    }
  }

  &__logo-container {
    margin-right: 5rem;

    @include respond(tab-port) {
      margin-right: 5rem;
    }
  }

  &__left-side {
    display: flex;

    @include respond(tab-port) {
      align-items: center;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    @include respond(tab-port) {
      flex-direction: column;
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__item {
    font-size: 2rem;
  }

  &__image {
    @include respond(big-tv) {
      width: 20rem;
    }
    @include respond(short-laptop) {
      width: 20rem;
    }
  }
}
