.salesjet-home__header {
  position: relative;
  background-color: #52aede;
  background-size: cover;
  color: $white;
  height: 100vh;

  &__container {
    @include container(0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include respond(short-laptop) {
      position: relative;
      transform: translateY(5rem);
      z-index: 20;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 5rem;
  }

  &__left-container {
    width: 120%;
    margin-right: 5rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(big-tv) {
      width: 70%;
    }
  }

  &__right-container {
    position: static;
    z-index: 2;
    width: 120%;
    height: auto;

    @include respond(short-laptop) {
      width: 180rem;
    }
  }

  &__background-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
