.salesjet-home__header {
  position: relative;
  background-color: #52aede;
  background-size: cover;
  color: $white;
  height: 100vh;

  @include respond(phone-land) {
    height: auto;
  }

  &__container {
    @include container(0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include respond(short-laptop) {
      position: relative;
      transform: translateY(5rem);
      z-index: 20;
    }
    @include respond(tab-port) {
      flex-direction: column-reverse;
      max-width: $section-width;
      text-align: center;
    }
    @include respond(phone-land) {
      padding: 10rem 0 10rem 0;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @include respond(tab-port) {
      text-align: center;
      margin-top: 4rem;
    }
  }

  &__text {
    margin-bottom: 5rem;
  }

  &__left-container {
    width: 120%;
    margin-right: 5rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(big-tv) {
      width: 70%;
    }
    @include respond(tab-port) {
      margin-right: 0;
    }
  }

  &__right-container {
    position: static;
    z-index: 2;
    width: 120%;
    height: auto;
    background-color: red;
    display: block;

    @include respond(tab-port) {
      display: none;
      max-width: 100%;
      margin-bottom: 6rem;
    }

    &--top {
      display: none;

      @include respond(tab-port) {
        display: block;
        width: 80%;
        margin: 0 auto 6rem auto;
      }
    }

    @include respond(short-laptop) {
      width: 180rem;
    }
  }

  &__background-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__btn {
    @include respond(tab-port) {
      margin: 0 auto;
    }
    &--subtitle {
      text-align: center;
      display: block;
      font-weight: 100;
      font-size: 1.6rem;
    }
  }
}
