.home-video {
  &__container {
    @include container(10rem, 10rem);
    display: flex;
    align-items: center;
    gap: 6rem;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__left-container {
    width: 100%;
    border: 1px solid #9e9e9e;
    position: relative;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }

    .thumbnail {
      &__play-icon-container {
        transform: translate(-50%, -44%);
      }
    }
  }

  &__right-container {
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 4rem;

    &--mobile {
      @include respond(tab-port) {
        display: block !important;
        text-align: center;
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__btn {
  }
}
