.home-pricing {
  padding: 6rem 0;
  background-color: #f6f6f6;

  @include respond(laptop) {
    padding: 12rem 0 6rem 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 90%;
    margin: 10rem auto;

    @include respond(small-laptop) {
      width: 100%;
    }
    @include respond(macbook) {
      width: 100%;
    }
  }

  .home-features__text {
    margin-bottom: 2rem;
  }
}
