.home-carousel {
  background-color: #f6f6f6;
  height: 95vh;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;

  @include respond(tab-port) {
    height: 70vh;
  }
  @include respond(phone-land) {
    height: 120vh;
  }
  @include respond(phone-port) {
    height: 65vh;
  }

  &__container {
    @include container(6rem, 0);
    height: 85vh;

    @include respond(tab-port) {
      height: 70vh;
    }
    @include respond(phone-land) {
      height: 120vh;
      width: 100%;
    }
    @include respond(phone-port) {
      height: 65vh;
      width: 100%;
    }
  }
}
