.home-features {
  &__container {
    @include container(8rem, 12rem);
  }

  &__title,
  &__text {
    text-align: center;

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
    }
    @include respond(phone-port) {
      width: 100%;
    }
  }

  &__text {
    margin: 2rem 0 5rem 0;

    @include respond(tab-port) {
      margin: 2rem auto 5rem auto;
    }
    @include respond(phone-port) {
      width: 90%;
    }
  }

  &__btn {
    margin: 0 auto 13rem auto;
    display: block;
    width: max-content;
  }

  &__bottom-cta-container {
    margin: 15rem 0;
  }
}
