.home-features {
  &__container {
    @include container(8rem, 4rem);
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__text {
    margin: 2rem 0 5rem 0;
  }

  &__btn {
    margin: 0 auto;
    display: block;
    width: max-content;
  }

  &__bottom-cta-container {
    margin: 15rem 0;
  }
}
